body
{
    margin: 0px;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100vh;
    background-color: rgb(201, 201, 201);
}

#calculator
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(101, 96, 96);
    border-radius: 15px;
    max-width: 450px;
    overflow: hidden;
}

#display
{
    width:90%;
    padding:20px;
    font-size: 5rem;
    color: rgb(201, 199, 199);
    border: none;
    background-color: rgb(80, 77, 77);
    text-align: right;
}

#keys
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    padding: 25px;
}

button
{
    width: 83px;
    height: 83px;  
    border-radius: 50px;
    cursor: pointer;
    background-color: rgb(46, 42, 42);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: bold;
    border:none;
}

.op
{
    background-color: rgb(152, 48, 7);
}

.op:hover
{
    background-color: rgb(121, 22, 22);
}

.op:active
{
    background-color: rgb(92, 17, 17);
}

button:hover
{
    background-color: rgb(32, 31, 31);
}

button:active
{
    background-color: rgb(21, 21, 21);
}